@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding:0 ;
}
body{
    font-family: 'Inter', sans-serif !important;
}
html {
	scroll-behavior: smooth;
  }
.nav-link {
	color: #000 !important;
	font-weight: 400;
	padding: 0px 15px !important;
}
.nav-link:hover {
	color: #ff3d39 !important;
	/* border-bottom: 1px solid red; */
	transition: .3s;
	/* margin-left: 10px; */
}
.navbar.navbar-expand-md.navbar-dark {
	padding: 15px 0px;
	/* background: red; */
}
.navbar-toggler-icon {
	color: #ff3d39 !important;
}
.menu-btn {
	background: #FF3D39;
	color: #fff;
	border: 0;
	padding: 7px 15px;
	border-radius: 5px;
	font-weight: 400;
	font-size: 14px;
}
.header-bg {
	background-image: url(../img/hero-bg.png);
	background-size: cover;
	/* height: 100vh; */
	border-radius: 0px 0px 150px;
}

.hero-left-content {
    padding-top: 100px;
    padding-bottom: 80px;
}
.hero-left-content h6 {
    color: #FF3D39;
    text-transform: uppercase;
}
.hero-left-content h6:after {
    position: absolute;
    content: '';
    left: 14px;
    height: 2px;
    width: 30px;
    background: red;
    margin-top: 23px;
}
.hero-left-content h3 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #090E3F;
}
.hero-left-content p {
	color: #404040;
	margin-bottom: 20px;
}
.hero-btn {
	background: #F2E8E8;
	color: #ff3d39;
    border: 0;
	outline: none !important;
	font-weight: 700;
	padding: 7px 20px;
	border-radius: 5px;
    border: 1px solid #F2E8E8;
}
.btn-right {
	background: #ff3d39;
	padding: 7px;
	margin-left: 10px;
	color: #fff;
	border-radius: 5px;
	margin-right: -14px;
    
}
.hero-btn:hover{
	background: none;
	transition: .3s;
    border: 1px solid #ff3d39;
}
.hero-right-content {
    padding-top: 100px;
    padding-bottom: 80px;
}





/* contagious-area  */

.contagious-box {
	padding: 13px;
	border-radius: 20px;
	box-shadow: #FFFCFD 0px 0px 10px 10px;
	padding-bottom: 35px;
}
.contagious-area {
	padding: 50px 0px;
}
.section-title h3 {
	color: #3E4052;
	font-weight: 600;
	font-size: 25px;
}
.section-title p {
	color: #6a6a6c;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.section-title h3::after {
	content: '';
	position: absolute;
	background: #f04e23;
	height: 3px;
	width: 100px;
	margin-top: -22px;
	left: 41%;
	border-radius: 10px;
	z-index: -1;
}
.section-title i {
	color: #f04e23;
	background: #fff;
	padding: 12px 12px;
	margin-left: 0px;
}
.contagious-box img {
	width: 100%;
	border-radius: 10px;
}
.contagious-box h6 {
	color: #090E3F;
	margin-top: 20px;
	font-weight: 600;
	font-size: 15px;
}
.contagious-icon {
	color: #B9B9B9;
	cursor: pointer;
}
.contagious-box p {
	color: #555151;
	font-size: 13px;
}

/* symptoms area  */


.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
	padding: 2px 16px;
  }
  .card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .card img {
	border-radius: 5px 5px 0 0;
	cursor: pointer;
  }

.card h4 {
	text-align: center;
	padding-top: 7px;
	font-size: 17px;
}

.symptoms-area {
	background: #F1F1F1;
	padding-top: 100px;
	padding-bottom: 100px;
	border-radius: 0px 0px 0px 150px;
}
.symptoms-area h3 {
	color: #3E4052;
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 30px;
}

.symptoms-content {
	margin-top: 70px;
}


/* prevention-area */



.prevention-area {
	padding: 50px;
}
a {
	text-decoration: none !important;
}
.prevention-box a h3 {
	color: #302E2E;
	font-size: 18px;
	font-weight: 600;
}
.prevention-box img {
	padding-bottom: 20px;
}
.prevention-box {
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: #fff 1px 3px 5px -5px;
	margin-top: 40px;
}
.active{
	background: #FFF7F7;
	padding: 30px;
	border-radius: 10px;
	box-shadow: #000 1px 3px 5px -5px;
	transition: .5s;
	cursor: pointer;
}
.prevention-box:hover{
	background: #FFF7F7;
	padding: 30px;
	border-radius: 10px;
	box-shadow: #000 1px 3px 5px -5px;
	transition: .5s;
	cursor: pointer;
}


/* Gideline area  */
.gideline-area {
	padding: 100px;
	background: #ededed;
}
.gideline-area h5::after {
	content: '';
	position: absolute;
	height: 8px;
	width: 8px;
	background: #FF3D39;
	margin-left: 10px;
	margin-top: 9px;
	border-radius: 10px;
}
.stayhome {
	width: 100%;
}
.gideline-area h5 {
	margin-top: 10px;
	color: #090E3F;
	font-weight: 600;
}
.gideline-area h5::before {
	content: '';
	position: absolute;
	height: 8px;
	width: 8px;
	background: #FF3D39;
	margin-top: 9px;
	border-radius: 10px;
	margin-left: -15px;
}

.card-header {
	background: #FFAA39 !important;
	border: 0 !important;
}
.card-header a {
	color: #fff !important;
	font-weight: 600;
}
.gideline-content h4 {
	font-weight: 700;
	margin-bottom: 20px;
}
.card-body {
	background: #ffaa39 !important;
	border-top: 1px solid #fff !important;
	color: #fff !important;
}